.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location-text, .temperature-text {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}


.captured-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}
